<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Homemade Pickles{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="flash-{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<body>
    <header>
        <h1>Homemade Pickles & Snacks</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('veg_pickles') }}">Veg Pickles</a>
            <a href="{{ url_for('non_veg_pickles') }}">Non-Veg Pickles</a>
            <a href="{{ url_for('snacks') }}">Snacks</a>
            <a href="{{ url_for('cart') }}">Cart</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('signup') }}">Signup</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('aboutus') }}">About Us</a>
            <a href="{{ url_for('contact_us') }}">Contact Us</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
